[submodule "imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/cereal"]
	path = external/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "external/VulkanMemoryAllocator"]
	path = external/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "external/tinygltf"]
	path = external/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "external/gli"]
	path = external/gli
	url = https://github.com/g-truc/gli.git
[submodule "resource/shader/020_RT/tinygltf"]
	path = resource/shader/020_RT/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "external/taskflow"]
	path = external/taskflow
	url = https://github.com/taskflow/taskflow.git
